<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="/blog/{{p.key().id()}}">{{p.subject}}</a>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
    <div class="post-identifier">
    created by : {{p.user.name}}
    </div>
    <div class="post-modify">
      <a id = "editpost" href="/blog/edit/{{p.key().id()}}">edit</a>
      <a id = "delpost" href="/blog/delete/{{p.key().id()}}">delete</a>
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  
  <p> Likes : <span id="likecount">{{counter}}</span> </p>
  
  <div class="buttons">
    <form method="post" action="/blog/like/{{p.key().id()}}">
      <button class="btn btn-primary">I Like this Post!</button>
    </form>
    <form method="get" action="/blog/comment/{{p.key().id()}}">
      <button id="commentButton" class="btn btn-default">Comment here!</button>
    </form>
  </div>

</div>